<section class="gitcus">
    <!-- Paste/Replace from here -->   
    <script src="https://giscus.app/client.js"
        data-repo="lud0matic/lud0matic.github.io"
        data-repo-id="R_kgDOJfyyhg"
        data-category="General"
        data-category-id="DIC_kwDOJfyyhs4CXEpf"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
</section>