---

---

html, html[data-theme="light"] {
	--background-color: #f4f4f4;
    --background-bar-footer: #FFFFFF;
    --text-color: #212429;
    --text-color-invert: #ffffff;
    --link-color: #68a3e3;
}

html[data-theme="dark"] {
	--background-color: #23272D;
    --background-bar-footer: #17191d;
    --text-color: #ffffff;  
    --text-color-invert: #212429;
    --link-color: #9cccff;    
}


@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
        --background-color: #23272D;
        --background-bar-footer: #17191d;
        --text-color: #ffffff;
        --text-color-invert: #212429;
        --link-color: #9cccff;
    }

    html[data-theme="light"] {
        --background-color: #f4f4f4;
        --background-bar-footer: #FFFFFF;
        --text-color: #212429;
        --text-color-invert: #ffffff;
        --link-color: #68a3e3;
  } 
}


$brown: #B59F62;
$teal: #a7cef8;
$black: #2D3047;
$primary: $teal;
$dark:    $black;
$enable-rounded: True;

@import "bootstrap/functions";
@import 'bootstrap/variables';
@import "bootstrap/mixins";
@import 'bootstrap/bootstrap';
@import 'stars';

// Custom

//Dark Theme & Logo

//sun-moon button
.dark-mode-button {
    position: relative;
    display: flex;
    justify-content: end;    
}

//Logo using SVG
.container-dark {
    position: relative;       
    width: 283px;
}

.logo {
    fill: var(--text-color);
}

.logo_hover {    
    display: inline-block;
    fill: var(--background-color);
    &:hover {        
        background-color: var(--background-color);
        fill: var(--text-color);
    }
}
// Logo using SVG



// Logo using SVG file from _config.yml

// .container-dark {
//     position: relative;
//     top: 0;
//     left: 0;
//     width: 283px;
//     height: auto;
        
// }

// #logo_hover {    
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;    
   
//     &:hover{         
//         opacity: 1;
//         fill: var(--text-color); 
//     }
// }

// Logo using SVG File from _config.yml



//custon footer
.footer-color {
    a {
        color: var(--text-color);
    }
    
}

// Mastodon
.mastodon {
    --mastodon-btn-bg: none;
    --mastodon-btn-border: #ffffff;    
    --mastodon-btn-rad: 0%;
    --mastodon-btn-txt: var(--text-color)
  }

//logo position
.site-content .container .navbar-brand {    
    position: relative;
    right: 110px;
}

@media (min-width: 768px) {
    .site-content .container .navbar-brand {
        max-width: 80%;
    }
}
@media (min-width: 1440px) {
    .site-content .container .navbar-brand {
        max-width: 1140px;
    }
}
@media (max-width: 1024px) {
    .site-content .container .navbar-brand {
        width: 90%;
        max-width:90%;
        padding-left:80px;
    }
}
//image shadow
img[src*="#shadow"] { 
    filter: drop-shadow(0 25px 45px rgba(#000, .40)) drop-shadow(0 0 2px rgba(#000, .50));  
    display: block;
    margin: 1em auto 70px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

// End custom

// general
body, input, button, select, optgroup, textarea {
    color: var(--text-color);      
    font-family:Sen;
}
body {
    line-height:1.7;
    background: var(--background-color);
}
a {
    color: var(--link-color);
}
img {
    max-width:100%;
    height:auto;
}

h1,h2,h3,h4,h5,h6 {
    color:var(--text-color);
    font-weight:700;
}
.site-content {
    color: var(--text-color);
    padding-top:50px;
}
.sitetag {
    color: var(--text-color);
    font-weight:700;    
    line-height:1.3;
    font-size:35px;
    @include media-breakpoint-up(sm) {
        font-size:50px;
        line-height:1.2;
    }
}
.bigradius {
    border-radius: 40px;
}
.mb-neg-30 {
    margin-bottom:-30px;
}
.btn {
    min-width: 180px;
}
blockquote {
    font-family: Times New Roman;
    font-style: italic;
    font-size: 20px;
    position:relative;
    border-left:1px solid var(--text-color);
    margin-left:30px;
    padding-left:15px;
    cite {
        font-weight:700;
    }
}
// animation
.nav-icon, 
.hamburger-bar, 
.hamburger-bar:before, 
.hamburger-bar:after, 
#menu, 
body, 
a, 
a:hover, 
body.active-side, 
.site-content, 
.show-search, .show-search:hover, 
.title, .title:hover,
.card, .card:hover,
img, img:hover {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes fade-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
@keyframes fade-up {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.featured-image, .firstpage .blog-grid-item:nth-child(1), .firstpage .blog-grid-item:nth-child(2), .firstpage .blog-grid-item:nth-child(3) {
    animation: fade-up 0.7s ease-out forwards running;
}
// menu
.navbar-brand img {
    max-height:80px;
    margin-bottom:40px;
    margin-top:40px;    
}
.sidebar {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 80px;
    height: 100%;
    border-right: solid rgba(0, 0, 0, 0.07) 1px;
    z-index: 1022;
    background: var(--background-bar-footer);
}
.nav-icon {
    position: fixed;
    left: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 30px;
    z-index: 1026;
    .hamburger-bar {
        width: 18px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 1px;
        &:before, &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background: var(--text-color);
            border-radius: 1px;
        }
        &:before {
            transform: rotate(0deg) translate(0px,-5px);
        }
        &:after {
            transform: rotate(0deg) translate(0px,5px);
        }
    }
    &.active {
        .hamburger-bar {
            &:before {
                transform: rotate(-45deg) translate(0px,0px);
            }
            &:after {
                transform: rotate(45deg) translate(0px,0px);
            }
        }
    }
}
.blackover {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:var(--background-color);    
    z-index: -1;
    animation: animate2 .3s;
    &.active {
            z-index: 4;
            background: rgba(8, 11, 16, 0.7);
            animation: animate .3s;
    }
}
#menu {
    position: fixed;    
    top: 0;
    left: 0;
    height: 100%;
    width: 420px;
    background: var(--background-bar-footer);
    padding: 0;
    margin: 0;
    transform: translate(-100%, 0);
    z-index: 1022;
    &.active {
        transform: translate(0%, 0);
    }
    ul {
        float: left;
        width: 100%;
        padding: 80px 30px 80px 100px;
        h3 {
            margin-bottom:30px;
        }
        li {
            list-style: none;
            width: 100%;
            a {
                width: 100%;
                display: inline-block;
                padding: 2vh 0px 2vh 0px;
                line-height: 20px;
                text-decoration: none;
                color: var(--text-color);
                font-weight: 400;
                font-size: 18px;
                position: relative;
            }
        }
    }
}


// blog grid
.blog-grid-container {        
    width: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}
.blog-grid-item {  
    padding: 0;
    display: flex;
    align-items:center;
    .author-thumb {
        width:40px;
        border-radius:50%;
        margin-right: 7px;
    }
    .card {        
        border: 0;
        background-color: var(--background-bar-footer);        
        &:hover {           
           .card-title a { 
                color: var(--text-color);
                background-size: 100% 100%;
            }
        }
    }
    .card-title {                
        font-weight:700;
        font-size:22px;
        line-height:1.4;
        a { 
            color: var(--text-color);            
            background-image: linear-gradient(180deg, transparent 89%, $primary 0);
            background-repeat: no-repeat;
            background-size: 0 100%;
            transition: background-size .6s ease;            
            position:relative;
            &:hover {
                text-decoration:none;
            }
        }
    }
    .card-text {
        color:var(--text-color);
        font-weight:400;
        font-size:16px;
        line-height:1.8;
        margin-top:15px;
    }
    .card-footer {   
        background-color: var(--background-bar-footer);     
        color:var(--text-color);
        font-size:14px;
        border-top:0;
        padding: 1rem 1.25rem;
        a {
            color:inherit;
            font-weight:700;
        }
    }
    .post-date {
        float:right;
        margin-top: 10px;
        color: var(--text-color);
    }
    .img-thumb {
        object-fit:cover;
        height:240px;
        width:100%;
        object-position:top;
    }
}
.firstpage {
    .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        flex-direction: column;  
        align-items: flex-start;
        font-size: 1em;
        padding:0;
        .card-title {
            font-size:28px;            
        }
        .img-thumb {
            object-fit:cover;
            height:400px;
            width:100%;
            object-position:top;
        }
    }

    .blog-grid-item:nth-child(2), .blog-grid-item:nth-child(3) {
        .card-text {
            display:none;
        }
        .img-thumb {
            object-fit:cover;
            height:160px;
            width:100%;
            object-position:top;
        }
        .card-title {
            font-size:18px;
            line-height:1.5;
        }      
    }
}

//pagination
.pagination {
    justify-content:center;
    a {
        background: var(--background-bar-footer);
        color:var(--text-color);
        cursor:pointer;
        &:hover {
            background: var(--link-color);
            text-decoration:none;
        }
    }
    a, span  {
        width: 40px;
        height: 40px;
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
    }
    span {
        border:0;
    }
}

//newsletter
.newsletter {
    h4 {
        line-height:1.3;
    }
    margin-top:120px;   
    img.newsletter-logo {
        max-height:70px;
    } 
    input {
        border:1px solid transparent;
    }
    .mc-field-group {
        border:1px solid;
        border-radius:2px;
        display:inline-block;
        input[type="email"] {
            padding:4px 10px;
            min-width:250px;
        }
        input[type="submit"] {    
            color: #222;
            padding: 4px 20px;
            margin-left:-5px;
            background:$primary;
            border-left: 1px solid;
            font-weight:700;
        }
    }
    form {
        margin-top:30px;
    }
} 
// blog 
.article-post, .entry-header, .comments, .rating, .authorbox {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-color);
}
.posttitle {
    font-size:50px;
    font-weight:700;
    line-height:1.2;
    color: var(--text-color);    
}
.entry-featured-image {  
    width:1280px;  
    max-width: 100%;
    text-align:center;
    margin-left:auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom:50px;
}
.image-shadow {   
    -webkit-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    -moz-box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
    box-shadow: 0 7px 50px 0 rgba(84,110,122,.15);
}
.entry-header {
    .author-thumb {
        width:50px;
        border-radius:50%;
        margin-right:10px;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.authorbox {
    margin-top:50px;
    margin-bottom:50px;
    .author-description {
        font-size:16px;
    }
    .author-thumb {
        width:70px;
        border-radius:50%;
        border:2px solid darken($primary,20%);
        padding:2px;
    }
}
.article-post {    
    font-size:18px;
    p {
        margin-top:30px;
        margin-bottom:30px;
    }
    code {
        font-size: 15px;
        color: var(--background-color);
    }
    code[class*="language-"], pre[class*="language-"] {
        font-size:15px;
        margin-bottom:30px;
        background: var(--background-bar-footer);
        color:inherit;
    }
    div.code-toolbar > .toolbar a, div.code-toolbar > .toolbar button, div.code-toolbar > .toolbar span {
        margin-right:2px;
        margin-left:2px;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
    }
}

.c-rating button {
    cursor:none;
}

.spoiler {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);    
    transition: all .4s;
    cursor: pointer;
    position: relative;
    &:after {
        position: absolute;
        opacity: 0;
        content: 'Click to reveal spoiler';
        top: 45%;
        left: calc(50% - 75px);
        text-shadow: none;
        background: var(--text-color);
        color: var(--text-color-invert);
        display: inline-block;
        font-size: 13px;
        line-height: 1;
        padding: 2px 3px;
        width: 150px;
        font-family: Arial;
        text-align: center;
        border-radius: 3px;
        transition: all .4s;
    }
    &:hover:after {
        opacity: 1;
    }
}

.comments {
    margin-top:30px;
    margin-bottom:60px;
    background-color: var(--background-color);
    #comments {
        display:none;        
        margin-top:60px;
        &.comments--show {
            display:block;
        }
    }
}
.related-posts {
    h2 {
    }
    margin-top:120px;
    .badge {
        font-size: 15px;
        padding:5px 7px;
        display:inline-block;
        margin: 0 3px;
    }
}

//share
.share { 
    position:fixed;left:15px;bottom:40%;z-index: 1026;
    text-align:center;    
    ul {
        list-style:none;
        padding-left:0;
        li {
            margin:15px 0;
            a {
                color:var(--text-color);
            }
        }
    }
}

//search
.show-search {
    cursor:pointer;
    &:hover {
        color: var(--link-color);
    }
}
.bd-search {
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.5s linear;    
    &.search--show {
        visibility: visible;
        opacity: 1;
        transition:opacity 0.5s linear;        
    }
}
.wrap-search {
    position: fixed;
    left: 30px;
    bottom: 25px;
    z-index: 1026;    
}
.modal-open .modal {
    background: rgba(0,0,0,0.3);    
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%; // Ensure `.modal-content` extends the full width of the parent `.modal-dialog`
    // counteract the pointer-events: none; in the .modal-dialog
    color: $modal-content-color;
    pointer-events: auto;
    // background-color: $modal-content-bg;
    background-color: var(--background-bar-footer);
    background-clip: padding-box;
    border: $modal-content-border-width solid $modal-content-border-color;
    @include border-radius($modal-content-border-radius);
    @include box-shadow($modal-content-box-shadow-xs);
    // Remove focus outline from opened modal
    outline: 0;
  }



.lunrsearchresult {
    .title {
        color:var(--text-color);
        
        font-weight:700;
        line-height:1.2;
        display:block;
        font-size:20px;
        margin-bottom:5px;        
        &:hover {
            color: var(--link-color);
        }
    }
    span.body {
        color:var(--text-color);
        line-height:1.7;
        display:block;
        margin-bottom:10px;
    }
    a {
        &:hover {
            text-decoration:none;
        }
    }
    span.url {
         display:none;
    }
}
body.active-side {
    .bd-search {        
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;        
    }
}
//footer
.footer {
    color: var(--text-color);
    margin-top:120px;
    padding:30px;
    border-top:1px solid var(--background-bar-footer);
    font-size:15px;
    background:var(--background-bar-footer);
}

//responsive tweaks
@media (min-width: 768px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 80%;
    }
}
@media (min-width: 1440px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 1140px;
    }
}
@media (max-width: 1024px) {
    .container {
        width: 90%;
        max-width:90%;
        padding-left:80px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr 1fr;
    }
    .newsletter img.newsletter-logo {
        max-height: 50px;
        float: left;
    }
}
@media (max-width: 768px) {
    .posttitle {
        font-size:35px;
    }
    .blog-grid-container {
        grid-template-columns: 1fr;
    }
    .firstpage .blog-grid-item:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .blog-grid-item .img-thumb, 
    .firstpage .blog-grid-item:nth-child(1) .img-thumb, 
    .firstpage .blog-grid-item:nth-child(2) .img-thumb, 
    .firstpage .blog-grid-item:nth-child(3) .img-thumb {
        height:auto;
    }
    .newsletter {
        span.h4 {
            font-size: 20px;
        }
        .mc-field-group input[type="email"] {
            padding: 4px 10px;
            min-width: 200px;
        }
        .mc-field-group input[type="submit"] {
            padding: 4px 10px;
        }
    }
}

@media (max-width: 600px) {
    .nav-icon, .sidebar, .share, .wrap-search {
        position:relative;
    }
    .container {
        padding-left:15px;
    }
    .site-content {
        padding-top:0;
    }
    .bd-search {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear;
    }
    .wrap-search {
        right: 25px;
        display: flex;
        left: unset;
        z-index:0;
    }
    .share {
        display: flex;
        align-items:center;
    }
    .share ul li {
        display:inline-block;
        margin: 10px 15px !important;
    }
    
    #menu ul {
        padding: 80px 30px 80px 30px;
    }
    .related-posts {
        h2 {
            font-size: 1.4rem;
        }
    }
}
@media (max-width: 480px) {
    .newsletter {
        .mc-field-group input[type="email"] {
            min-width:170px;
            width: 170px;
        }
    }
    .article-post, .entry-header, .comments, .rating, .authorbox { 
        padding-left:0;
        padding-right:0;
    }
    blockquote {
        margin-left:15px;
        font-size:18px;
    }
    .article-post {
        font-size:15px;
    }
    .wrap-search {
        .fa-search {
            display:none;
        }
        .form-control {
            height:35px;
        }
    }
}